<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">María Victoria Reyna</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de Mí</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos qui obcaecati eum aperiam quibusdam.
        Sed eligendi, perspiciatis magnam harum ut, animi, voluptatibus repellat placeat quo ad temporibus?
        Saepe, hic laborum!
      </p>
    </span>
  </div>
</div>
